---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="h-full min-h-screen w-full dark:bg-black dark:text-white">
    <h2 class="text-4xl font-bold text-center pt-8">Homecenter</h2>
    <h2 class="dark:text-white/75 text-center pt-2 pb-20">Ananjan's Homelab</h2>
    <div class="flex justify-between px-40">
      <div class="flex flex-col gap-4">
        <h3 class="text-xl font-bold">Currently available services:</h3>
        <a
          href="http://100.69.25.3:81/admin"
          class="text-blue-500 underline underline-offset-4"
          >PiHole (Ad blocking)</a
        >
        <a
          href="http://photos.brill-liberty.ts.net"
          class="text-blue-500 underline underline-offset-4">Immich (Photos)</a
        >
        <a
          href="http://files.brill-liberty.ts.net"
          class="text-blue-500 underline underline-offset-4"
          >Filebrowser (File storage)</a
        >
        <a
          href="http://ha.brill-liberty.ts.net"
          class="text-blue-500 underline underline-offset-4"
          >Home Assistant (Smart home)</a
        >
        <a
          href="http://media.brill-liberty.ts.net/"
          class="text-blue-500 underline underline-offset-4"
          >Jellyfin (Movies & TV)</a
        >
      </div>
      <div class="flex flex-col gap-4">
        <h3 class="text-xl font-bold">Internal services:</h3>
        <a
          href="http://prowlarr.brill-liberty.ts.net"
          class="text-blue-500 underline underline-offset-4">Prowlarr</a
        >
        <a
          href="http://radarr.brill-liberty.ts.net"
          class="text-blue-500 underline underline-offset-4">Radarr</a
        >
        <a
          href="http://sonarr.brill-liberty.ts.net/"
          class="text-blue-500 underline underline-offset-4">Sonarr</a
        >
        <a
          href="http://requests.brill-liberty.ts.net/"
          class="text-blue-500 underline underline-offset-4"
          >Jellyseerr</a
        >
      </div>
    </div>
  </div>
</Layout>
